@charset "utf-8";
/* CSS Document */

html, body {
	margin:0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	color:#333;
	background-color:#FFF;
	width: 100%;
	height: 100%;
}
:root {
	--naranja: #ff6b00;
	--naranjaoscuro: #FE5000;
	--gris: #53565A;
	--esmeralda: #068587;
}
.masthead-login {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/pexels-photo-845434.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/xavier-mouton-photographie-744396-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo-header {
	max-width: 60%;
}
.section100 {
	min-height: 100vh;
}
.fit-image {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
}
.naranja {
	color: var(--naranjaoscuro);
}
.bg-orange {
	background: var(--naranja);
}
.bg-orange-alpha {
	background: rgba(255,81,0,.7);
}

/*.btn{
	margin-left:10px;
}*/

.btn-orange {
    color: #fff;
    background-color: var(--naranjaoscuro);
    border-color: var(--naranjaoscuro);
}
.btn-orange:hover, .btn-orange.focus, .btn-orange:focus {
    color: #FFF;
    text-decoration: none;
}
.btn-esmeralda {
	/*margin-left:10px;	*/
    color: #fff;
    background-color: var(--esmeralda);
    border-color: var(--esmeralda);
}
.btn-esmeralda:hover, .btn-esmeralda.focus, .btn-esmeralda:focus {
    background-color: var(--naranja);
    border-color: var(--naranja);
    text-decoration: none;
    color: #FFF;
}
.btn-link {
  font-weight: 700;
  color: var(--naranja);
}
.btn-link:hover, .btn-link.focus, .btn-link:focus {
  color: var(--gris);
  text-decoration: none;
}

.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-orange.btn-outline {
  color: #428bca;
}

.btn-esmeralda.btn-outline {
  color: #428bca;
}


/*.btn-orange.btn-outline:hover {
    color: #fff;
}*/

.card-header {
    border: 1px solid rgba(254,107,0,.125);
    border-bottom: 1px solid rgba(254,107,0,.125);
}
.line-divider {
	display: inline-block;
	width: 1px;
	height: 100%;
	border-left: 1px solid #FFF;
}
.caja-inicio {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding: 1rem;
	color: #FFF;
}
.bajo-borde {
	border-bottom: 4px solid var(--naranja);
}
/******************/
.cr-hamburguer {
	background: var(--naranja);
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.cr-hamburguer span {
	position: absolute;
	top: 7px;
	left: 7px;
}
.icon-divider {
	border-right: 1px solid;
    padding-right: .5rem;
}
.btn-rrss-login {
	font-size: .8rem !important;
}
.navbar-nav {
	text-align: right;
}
.navbar-collapse {
	background: var(--naranja);
	padding: 0 1rem;
	position: absolute;
	top: 80px;
	right: 15px;
	border-radius: .4em;
	-webkit-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.25);
	box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.25);
}
.navbar {
    box-shadow: none !important;
    font-weight: 300;
}
.navbar-collapse li {}
/*************************/
.speech-bubble {
	position: relative;
	background: var(--naranja);
	border-radius: .4em;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-right-color: var(--naranja);
	border-left: 0;
	border-bottom: 0;
	margin-top: -20px;
	margin-left: -40px;
}
.speech-bubble p, .speech-bubble2 p {
	color: #FFF;
	padding: 1rem;
}
/**/
.speech-bubble2 {
	position: relative;
	background: var(--naranja);
	border-radius: .4em;
}
.speech-bubble2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 26px solid transparent;
	border-top-color: var(--naranja);
	border-bottom: 0;
	border-left: 0;
	margin-left: -13px;
	margin-bottom: -26px;
}
/********************/
#chatbot-1, #chatbot-3 {
	background-image: url("../img/socorro_personaje2.png");
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 90%;
}
#chatbot-2 {
	background-image: url("../img/socorro_personaje3.png");
	background-repeat: no-repeat;
	background-position: 20px bottom;
	background-size: 60%;
}
#chatbot-4 {
	background-image: url("../img/socorro_personaje3.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 80%;
}
#chatbot-5 {
	background-image: url("../img/socorro_personaje4.png");
	background-repeat: no-repeat;
	background-position: 30px bottom;
	background-size: 70%;
}

/************Radio************/
.mi-radio {
	display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mi-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
  border: 1px solid #999;
  border-radius: 50%;
}
.mi-radio:hover input ~ .checkmark {
  background-color: #ccc;
}
.mi-radio input:checked ~ .checkmark {
  background-color: var(--naranja);
  border: 1px solid var(--naranja);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.mi-radio input:checked ~ .checkmark:after {
  display: block;
}
.mi-radio .checkmark:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  font-size: 1.2rem;
  background: white;
}

/************Checkbox************/
.mi-check {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mi-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #FFF;
  border: 1px solid #999;
  /*border-radius: 50%;*/
}
.mi-check:hover input ~ .check-mark {
  background-color: #ccc;
}
.mi-check input:checked ~ .check-mark {
  background-color: var(--naranja);
  border: 1px solid var(--naranja);
}
.check-mark:after {
  content: "";
  position: absolute;
  display: none;
}
.mi-check input:checked ~ .check-mark:after {
  display: block;
}
.mi-check .check-mark:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  /*border-radius: 50%;*/
  font-size: 1.2rem;
  background: white;
}

.btn-group {
	display: flex !important;
	align-items: center;
}
.btn-group .btn {
	border-left: 1px solid #FFF;
	font-size: .7rem;
	flex-grow: 1;
	padding: .6rem .1rem;
	border-radius: .35rem;
}
.group-big .btn {
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 1px;
}
.btn-group .btn .icon-divider {
	border-right: none;
}
.btn-group .btn i {
	color: #000;
	padding-right: 4px;
	font-size: 1rem;
}
.precio-plan {
	color: var(--naranjaoscuro);
    position: absolute;
    right: 40px;
}
/****************/
label {
    font-size: .8rem;
    font-weight: 700;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

i.fas.fa-thumbs-up {
	font-size:30px;
}

i.fas.fa-thumbs-down {
	font-size:30px;
}

i.fas.fa-male {
	font-size:30px;
}

i.fas.fa-female {
	font-size:30px;
}

/* Round Range Slider */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff6b00;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.alert-top{
    position: fixed;
    top: 80px; 
    left:2%;
    width: 96%;
}

.alert-bottom{
    position: fixed;
    bottom: -10px;
    left:2%;
    width: 96%;
    border-color: #ff6b00;
    background: #ff6b00;
    color: #fff;
}

.alert{
    display: none;
}

#textInput {
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    color: #323232;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    height: 2.5rem;
    width: 100%;
    padding-left: 0.125rem;
    margin-bottom: -0.125rem;
    overflow: auto;
}

.inputOutline {
    display: block;
    border-bottom: 0.0625rem solid #aeaeae;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.inputOutline2 {
    border-bottom: 0.0625rem solid #aeaeae;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* Boton Circular */

.btn-circle.btn-xl {
    width: 45px;
    height: 45px;
    /*padding: 10px 16px;*/
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.remove {
  width: 30px;
  height: 30px;
  /*content: "x";*/
  border-radius: 100%;
  color: #fff;
  background-color: #f86400;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
  cursor: pointer;
  text-align: center;
  /*-webkit-transform: rotate(45deg);*/
  /*transform: rotate(45deg);*/
  padding-top: 3px;
  padding-left: 3px;  
}

.add {
  width: 30px;
  height: 30px;
  /*content: "x";*/
  border-radius: 100%;
  color: #fff;
  background-color: #f86400;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
  cursor: pointer;
  text-align: center;
  /*-webkit-transform: rotate(45deg);*/
  /*transform: rotate(45deg);*/
  padding-top: 3px;
  padding-left: 3px;  
}